/* nav{
    display: flex;
    flex-direction:row ;
    height: 20vh; 

} */


*{
    font-family: poppins;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 20vh;
    margin: 50px 50px;
  }
  
nav ul{
    flex: 2;
    display: flex;
    /* justify-content:space-between; */
    align-items: center;
    list-style-type: none;
}
nav li{
    display: inline-block;
    padding: 0px 30px;
    /* justify-content: space-between; */
    font-family: Orbitron;
    font-size: 25px;
    font-weight: 800;
    text-decoration: solid;
}


.nav-button{
    position: relative;
    bottom: 35px;
    padding: 5px 30px;
    border-radius: 12px;
    font-family: poppins;
}

.search-icon{
    position: relative;
    /* size: 30px; */
    right: 50px;
    top: 5px;
    transform: scale(0.7);
    /* size: 50%; */
    /* padding: 20px; */

}
.square{
    position: relative;
    left: 150x;
    max-height: 60%;
}


.heroimg{

    position: relative;
    bottom: 1cm;
    right: 130px;
    max-width: 450px;
    /* max-height: 500px; */

}

.square{
    position: relative;
    top: 180px;
    left: 160px;
    max-width: 100px;
}

.star{
    position: relative;
    margin-bottom: 150px;
    left: 1200px; 
}

.globe{
    position: relative;
    margin-bottom: 500px;
    left: 500px; 
    max-width: 30px;
    
} 
.burger{
    display: none;
}


.hero-container{
    /* border: 2px solid black; */
    display: flex;
    text-align: center;
    /* align-items: center; */
}

.hero-heading{
    text-align: center;
    font-family: Orbitron;
    font-size: 60px;

}

.hero-description{
    padding: 10px 50px;
    text-align: center;
}



.contact-heading{
    /* align-items : flex-end; */
    text-align: center;
}
.button-email{
    display: inline;
    position: relative;
    /* margin-left: 20px; */
    
}
.button-email, .button-join{
    /* bottom: 35px; */
    padding: 5px 30px;
    border-radius: 12px;
    /* font-family: poppins; */
    font-family: Orbitron;
    font-weight: 200;
    font: bolder;
    font-size: large;
}
.button-email:hover{
    background-color: black;
    color: aliceblue;
}
.button-join{
    background-color: black;
    color: aliceblue;
}
.button-join:hover{
    background-color: aliceblue;
    color: black;
}
.list-item:hover{
    /* background-color: black; */
    /* color: aliceblue; */
    /* font-size: 30px; */
    transform: scale(1.1);
    /* transition: margin-right 2s ease-in-out; */
}
 

/* .button-join{
    /* align-items: center; */
    /* position: relative;
    margin-bottom: 70px;
    margin-left: 12cm;
    display: flex;
    align-items: flex-end;
} */ 

.icons{
    position: relative;
    /* margin-left: 325px; */
}



@media screen and (max-width:800px){
    nav{
        position: fixed;
        top: 0;
        margin-top: 0;
        width: 100%;
        z-index: 20;
        background-color: white;
    }

    .hero-container{
        margin-top: 100px;
        flex-direction: column;
    }
    .hero-container{
        /* position: fixed; */
        position: relative;
        top:-1000px;
        /* left: 100px; */

    /* bottom: 1cm; */
    /* right: 130px; */
    /* max-width: 450px; */
    /* max-height: 500px; */
    }
    .heroimg{
        margin-left: 25%;
        margin-top: 1000px;
        transform: scale(0.7);
    }
.burger{
    display: block;
}
.burger:hover{
    cursor: pointer;
}
.list{
    display: none;
}
.search-icon{
    display: none;
}
.nav-button{
    display: none;
}
.hero-container-right{
    /* float: left; */
    /* margin-left: -150px; */
}

.hero-heading{
    width: 90vw;
    text-align: center;
    margin-top: 50px;
    font-family: Orbitron;
    font-size: 30px;

}

.hero-description{
    
    padding: 7px 50px;
    text-align: center;
}



.contact-heading{
    /* align-items : flex-end; */
    text-align: center;
}
.button-email{
    display: inline;
    position: relative;
    /* margin-left: 20px; */
    
}
.square{
    display: none;
    /* position: absolute; */
    /* top: 180px; */
    left: 10px;
    /* max-width: 100px; */
}

.star{
    display: none;
    position: relative;
    margin-bottom: 150px;
    left: 1200px; 
}

.globe{
    display: none;
    position: relative;
    margin-bottom: 500px;
    left: 500px; 
    max-width: 30px;
    
} 
}